h1{
    color: coral;
    background-color:black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;

}
section{
    border-radius: 20px;
    color:crimson;
    text-align: justify;
}
footer{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: coral;
}
p {
    text-align: left;
}
a{ 
    color:yellowgreen;
}
.differ{
    color: violet;
    background-color: rgb(133, 9, 9);
    font-size: larger;
}
.special{
    color: chocolate;
    background-color: darkgoldenrod;
}
#y01{
    color: black;
}
.tale{
    color: cornflowerblue;
    background-color: darkgreen;
}